:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --hero-text-color: #ffffff;
  --filter-color: #f5f4fa;
}

body {
  background-color: var(--hero-text-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.03em;
}

/* HEADER */

.logo {
  color: var(--secondary-text-color);
  font-family: Raleway;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.span {
  color: var(--accent-color);
  font-family: Raleway;
}

.site-nav .link {
  color: var(--secondary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.head-address .contact {
  color: var(--primary-text-color);
  text-decoration: none;
  letter-spacing: 0.02em;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}

/* FOOTER */
.main-address {
  background-color: #2f303a;
}

.footer-logo {
  color: var(--hero-text-color);
  font-family: Raleway;
  text-decoration: none;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.span {
  color: var(--accent-color);
  font-family: Raleway;
}
.footer-address .contacts {
  text-decoration: none;
}

.footer-address .contacts:hover,
.footer-address .contacts:focus {
  color: var(--accent-color);
}

.address {
  color: var(--hero-text-color);
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.info {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.no-marker {
  list-style: none;
}
